<div class="card shadow rounded-0">
  <div class="p-3">
    <h3><i class="fa-solid fa-store"></i> Producto</h3>
  </div>
  <div class="card-body ag-theme-quartz">
    <div class="container py-4">
      <div class="row">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="unidad"
              [(ngModel)]="producto.unidad"
              #unidad="ngModel"
              [ngClass]="{'is-invalid': unidad.invalid && unidad.touched}"
              required
            >
            <label for="unidad">Unidad</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="resistencia"
              [(ngModel)]="producto.resistencia"
              #resistencia="ngModel"
              [ngClass]="{'is-invalid': resistencia.invalid && resistencia.touched}"
              required
            >
            <label for="resistencia">Resistencia</label>
          </div>

          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="descripcion"
              style="height: 100px;"
              [(ngModel)]="producto.descripcion"
              #descripcion="ngModel"
            ></textarea>
            <label for="descripcion">Descripción</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="precio"
              [(ngModel)]="producto.precio"
              #precio="ngModel"
              [ngClass]="{'is-invalid': precio.invalid && precio.touched}"
              required
            >
            <label for="precio">Precio</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="created_at"
              [value]="producto.created_at | date:'dd-MM-yyyy'"
              readonly
            >
            <label for="created_at">Creado el</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="updated_at"
              [value]="producto.updated_at | date:'dd-MM-yyyy'"
              readonly
            >
            <label for="updated_at">Actualizado el</label>
          </div>

          <div class="form-floating mb-3" *ngIf="producto.deleted_at">
            <input
              type="text"
              class="form-control is-invalid"
              id="deleted_at"
              [value]="producto.deleted_at | date:'dd-MM-yyyy'"
              readonly
            >
            <label for="deleted_at">Eliminado el</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <div class="btn-toolbar" role="group" aria-label="">
        <button
          type="button"
          class="btn btn-secondary me-2"
          (click)="cancel()"
        >
          Volver
        </button>
        <button
          type="button"
          class="btn btn-danger me-2"
          (click)="delete()"
        >
          Eliminar Producto
        </button>
        <button
          type="button"
          class="btn btn-primary me-2"
          (click)="save()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>

    <div *ngIf="!producto" class="text-center text-muted py-4">
      No hay información para mostrar.
    </div>
  </div>
</div>
